.reservation-item{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr ;
    align-items: start;
    gap: 30px;
    border: 1px solid gray;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
}

.reservation-item-food, .reservation-item-name{
    font-weight: 600;
}

.reservation-item-name{
    margin-top: 1px;
    margin-bottom: 5px;
}

.reservation-item select{
    background-color: #ffe8e4;
    border: 1px solid gray;
    width: max(10vw, 140px);
    padding: 10px;
    outline: none;
    border-radius: 3px;
}

@media (max-width:1000px) {
    .reservation-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 1fr 1fr;
        padding: 15px 8px;
    }
    .reservation-item select{
        padding: 5px;
        font-size: 12px;
        width: 100px;
    }
    .reservation-item img{
        width: 40px;
    }
}

@media (max-width: 414px) {
    .reservation-item {
        font-size: 10px;
        grid-template-columns: 1fr 1fr;
        padding: 10px 5px;
    }
    .reservation-item select {
        padding: 5px;
        font-size: 10px;
        width: 100px;
    }
    .reservation-item img {
        width: 70px;
    }
}