.container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-self: start;
    gap: 20px;
}

@media (max-width: 768px) {
    .container{
        width: 90%;
    }
}
