.my-reservations{
    margin: 50px 0px;
}
.my-reservations .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-reservations-reservation{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid gray  ;
}

.my-reservations-reservation img{
    width: 50px;
}
.my-reservations-reservation p span{
    color: tomato;
}
.my-reservations-reservation p b{
    font-weight: 500;
    color: #454545;
}
.my-reservations-reservation button{
    border: none;
    width: 100px;
    padding: 12px 10px;
    border-radius: 4px;
    background-color: #ffe1e1;
    color: #454545;
    cursor: pointer;
}

@media (max-width:900px) {
    .my-reservations-reservation{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
    .my-reservations-reservation button{
        font-size: 10px;
    }
}