.totalReservations-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.reservations-table-format {
    display: grid;
    grid-template-columns: repeat(3 , 1fr); /* Corrected syntax */
    align-items: center;
    gap: 20px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.reservations-table-format.title {
    background-color: #f9f9f9;
    font-weight: bold;
}


/* Responsive Design */
@media (max-width: 768px) {
    .totalReservations-container h2{
        font-size: 18px;
    }
    .reservations-table-format {
        gap: 10px;
    }
}